body {
	width: 600px;
	height: 300px;
}

.top {
	width: 100%;
	padding: 2px;
	margin: 0px;
}

textarea {
	resize: none;
}

#main_txt {
	padding: 2px;
	position: relative;
	background: transparent;
	overflow-y: scroll;
}

#tu_btn {
	position: absolute;
	top: 6px;
	left: 544px;	
	opacity: 0.7;
}

#bcg_txt, #bcg_hint, #main_txt, .ng_hint {
	height: 200px;
	width: 596px;	
}  

.ng_hint {
	height: 1200px;
}

#bcg_txt {
	/*background-color: red;*/
	background: transparent;
	opacity: 0.01;			
	position: absolute;
	padding: 3px;
	overflow: hidden;	
}

#bcg_hint {
	/*background-color: green;*/
	background: transparent;
	position: absolute;
	padding: 3px;
	overflow: hidden;	
}

.ng_hint {
	position: absolute; 
	opacity: 0.1;	
	padding: 0px 22px 0px 0px;
	/*padding: 3px;*/
	color: white;
}

.ng_3_hint {
	background-color: yellow;
	color: yellow;	
}

.ng_4_hint {
	/*background-color: green;*/
	/*border-top: solid 2px black;*/
	/*background-color: green;*/
	border-top: solid 4px green;		
}

.ng_5_hint {
	/*background-color: red;*/
	/*text-decoration: underline;*/
	border-bottom: solid 4px blue;
}

#hint {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    padding: 0;
}

#stat {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 4px;
    background-color: lightblue;
	border-radius: 5px;    
}

.div_rf {
	padding: 2px 6px 0px 6px;
}

.bottom {
	width: 100%;
	padding: 0px;
	margin: 0px;
	/*height: 70px;*/
}

.bottom textarea {
	height: 66px;
	padding: 2px;
}

.bottom select {
	padding: 2px;
}

.bottom .form-group {
	padding: 2px;
}

.bottom .form-group {
	margin: 0px;
}

#reverso, #google, #translate_t {
	display: none;
	height: 300px;
	overflow-y: scroll;
}

#drans span {
	margin: 0px 4px 0px 0px;
	padding: 2px;
	background-color: #FFFFD2;
	border-radius: 5px;
}

#rtr {
	display: table;	
	padding-top: 2px;
}

.rtrow {
	display: table-row;	
	padding: 2px;
}

.rtrow div{
	width: 270px;
	display: table-cell;
	border-top: 1px solid  #666666;	
}

.g_twords_min {
	max-height: 120px;
	overflow-y: hidden;
}

.g_twords {
	padding: 0px 0px 2px 4px;
}

#google a.t_rev {
	color: black;
}